apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "end-platform.labels" . | nindent 4 }}
data:
  DB_HOST: "postgres"
  DB_PORT: "5432"
  DB_NAME: "{{ .Values.db.name }}"
  APP_NAME: "User Platform (Helm)"
