apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: {{ .Values.namespace }}
  labels:
    app: notification-service
    {{- include "end-platform.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
