{% extends "base.html" %}
{% block nav %}
  <a class="btn" href="/">На главную</a>
  <a class="btn" href="/login">Вход</a>
{% endblock %}
{% block content %}
  <div class="card">
    <h2 style="margin-top:0;">{{ REGISTER_TITLE }}</h2>
    {% if error %}<div class="err">{{ error }}</div>{% endif %}
    <form method="post" action="/register">
      <label>Логин</label>
      <input name="login" placeholder="login" />
      <label>Пароль</label>
      <input name="password" placeholder="password" type="password" />
      <button type="submit">Создать аккаунт</button>
    </form>
  </div>
{% endblock %}
